.popular_card_image__wrapper {
    position: absolute;
    top: -40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow-default);
}

.popular_card_image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
